body {
	background-color: rgb(17, 16, 16);
	color: rgb(125, 206, 139);
	font-family: "Kanit", sans-serif;
  
	-webkit-background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .App-container {
	max-width: 800px;
	margin: 0 auto;
  }
  